.Login {
	width: 45rem;

	background-color: #ffffff;
	border-radius: 0px 0px 5px 5px;
	filter: drop-shadow(0.1rem 0.3rem 0.3rem grey);
}

.LoginForm {
	padding: 4.3rem 3.5rem;
}

.LoginLabel {
	display: block;
	padding-bottom: 1rem;
	color: #555e63;

	font-size: 2rem;
	font-family: sans-serif;
	font-weight: normal;
}

.LoginInput {
	width: 36.5rem;
	height: 4rem;
	margin-bottom: 4.2rem;
	padding-left: 1rem;

	font-size: 2rem;
	background-color: #eeeeee;
	border-radius: 3px;
	border: none;
}

.LoginInput:focus {
	outline: none;
	border-radius: 3px;
	background-color: #eeeeee;
	filter: drop-shadow(0.1rem 0rem 0.5rem cornflowerblue);
}

.LoginButton {
	width: 14.5rem;
	height: 4.5rem;

	background-color: #ff4282;
	color: #eeeeee;
	border: none;
	border-radius: 3px;
	font-size: 2rem;
}

.LoginButton:hover {
	cursor: pointer;
}